<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3" defaultModelType="flat">
        <!--<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">-->
        <!--<property name="searchString" value="[e|E]xample$" />-->
        <!--<property name="replaceString" value="Criteria" />-->
        <!--</plugin>-->

        <commentGenerator>
            <property name="suppressAllComments" value="true"/><!-- 是否取消注释 -->
            <property name="suppressDate" value="false"/> <!-- 是否生成注释代时间戳-->
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://192.168.1.13:3306/rrs_research?serverTimezone=UTC" userId="myuser"
                        password="Huoyan@2016">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- generate Model -->
        <javaModelGenerator targetPackage="com.cghsir.model"
                            targetProject="${entity.target.dir}">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>


        <!-- 自动生成xml（但是好像一直没有生成功，反正也不用xml） -->
        <sqlMapGenerator targetPackage="sql-mapper"
                         targetProject="${dao.resources.dir}">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- 自动生成mapper接口, 可以是 ANNOTATEDMAPPER(注解), XMLMAPPER(xml), MIXEDMAPPER(不知道) -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.cghsir.mapper"
                             targetProject="${entity.target.dir}">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="users" domainObjectName="User"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false" />
    </context>
</generatorConfiguration>